app = "xxx"
kill_signal = "SIGINT"
kill_timeout = 20

[env]
DEBUG_MODE=1

[[services]]
  internal_port = 2583
  protocol = "tcp"
  [[services.ports]]
    port = 2583
  [[services.ports]]
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

[[services]]
  internal_port = 2582
  protocol = "tcp"
  [[services.ports]]
    port = 2582

[mounts]
source="xxx_data"
destination="/app/files"

#[experimental]
#cmd = "node dist/bin.js"
